.container.home-hero{
    justify-content: space-between;
    margin-bottom: 40px;
}
.image-outer-container {
  max-width: 500px;
  max-height: 500px;
  width: 40vw;
  height: 40vw;
  box-shadow: 0px 0px 1px slateblue;
  border-radius: 50%;
  /* background: slateblue; */
}
.home-hero__content, .home-hero__avatar{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home-hero__avatar{
    align-items: end;
}
.home-hero__content p{
    color: #999;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    margin-top: 10px;
}
.home-hero__btn.btn, .contact-right__btn.btn{
    background: slateblue;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px 0px;
    width: 60%;
    margin-top: 20px;
    border: 2px solid slateblue;
}
.home-hero__btn:hover, .contact-right__btn:hover{
    color: slateblue;
    background: white;
    box-shadow: 0px 0px 10px rgba(106, 90, 205, .4);
}
.image-inner-container {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 20px white;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
}
.image-inner-container:hover {
  box-shadow: inset 0px 0px 20px white;
}


@media screen and (min-width: 769px) {
  .image-inner-container::after, .contact-left::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: red;
    background: url("/Images/bg-contact.jpg");
    background-position: center;
    background-size: cover;
    transform: rotate(2deg);
    inset: 0;
    left: 0;
    top: 0;
    clip-path: circle(0px at var(--x) var(--y));
  }
  .contact-left::after{
    border-radius: 0%;
    transform: rotate(0deg);
    background-position: end;
    background-size: cover;
    z-index: 0;
    background: url("/Images/bg-contact.jpg");
  }
  .image-outer-container:hover .image-inner-container::after, .contact-left:hover::after{
    clip-path: circle(100px at var(--x) var(--y));
  }
}
.main-image {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  transform: rotate(2deg);
  transition: all 0.3s;
  position: relative;
  z-index: -1;
  left: 0;
  top: 0;
}


/* skills container */
.container.skills-container{
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.skills-container>div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.range-container{
  margin-bottom: 20px;
  min-width: 30%;
}
.range-container__bar{
  margin-top: 5px;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: inset 0px 0px 10px gray;
}
.range-container__bar p{
  border-radius: 50px;
  height: 100%;
  color: white;
  align-content: center;
  text-shadow: 0px 0px 5px #ddd;
  box-shadow: inset 0px 0px 50px slateblue; 
  text-align: center;
}


/* project-container */
.container.project-container{
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.project-container>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
}
.project-card{
  height: 190px;
  border-radius: 5px;
  width: 32%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 1s ease-in-out;
  opacity: 0;
}
.project-card.in-view {
  transform: scale(1);
  opacity: 1;
}
.project-card__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}
.project-card:hover .project-card__img{
  filter:  blur(4px);
}
.project-card__title.display-2{
    transform: translateY(50px);
    opacity: 0;
    transition: all .4s;
    color: slateblue;
}
.project-card:hover .project-card__title{
  transform: translateY(0px);
  opacity: 1;
}

/* contact-container */
.contact-container.container {
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;
}
.contact-container>div{
  display: flex;
  flex-wrap: wrap;
}
.contact-left{
  background: slateblue;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  box-shadow: inset 0px 0px 10px #ddd;
  border-radius: 5px;
}
.contact-left__title.display-2{
  justify-self: start;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
}
.contact-left>div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.contact-left__social{
  font-size: 30px;
  color: slateblue;
  display: block;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  transition: all .4s;
  position: relative;
  z-index: 1;
}
.contact-left__social:hover{
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px white;
}
.contact-right{
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contact-right>*{
  max-width: 80%;
  width: 80%;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid gray;
  font-size: 20px;
  color: slateblue;
  outline: none;
}
.contact-right>*:focus{
  border-color: slateblue;
  box-shadow: inset 0px 0px 3px slateblue;
}
.contact-right__btn.btn{
   width: 80%;
   letter-spacing: 3px;
}
/* about-container */
.bright-text {
  animation: brightEffect .6s forwards;
}

@keyframes brightEffect {
  0% {
    color: #999;
    text-shadow: none;
  }
  50% {
    color: slateblue;
    text-shadow: 0px 0px 10px slateblue;
  }
  100% {
    color: #999;
    text-shadow: none;
  }
}




.container.about-container{
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}
.about-container h1{
  position: relative;
  z-index: 2;
}
.about-info{
  font-size: 16px;
  color: #999;
  padding-top: 20px;
  text-align: center;
  letter-spacing: .1px;
  line-height: 1.8;
}
.about-info span:hover{
   /* animation: animate .5s ease-out; */
   /* animation: animate .5s .4s linear; */
   color: slateblue;
   text-shadow: 0px 0px 10px slateblue;
}
@keyframes animate {
  0%{
    color: #999;
  }
  50%{
    color: slateblue;
  }
  75%{
    color: slateblue;
  }
  100%{
    color: #999;
  }
}
/* .about-container h1::after{
  content: "";
  display: block;
  position: absolute;
  left: -60px;
  top: 40%;
  width: 100%;
  height: 100%;
  background: url('./Images/slateblue-brush.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15%;
  z-index: -1;
  filter: opacity(.3);
} */
@media screen and (max-width: 1024px) {
  .project-card{
    height: 225px;
  }
  .range-container{
    width: 45%;
  }
  .project-card{
    width: 49%;
  }
  .project-container>div{
    row-gap: 10px;
}
}
@media screen and (max-width: 769px) {

    .container.home-hero{
        flex-direction: column;
      }
      .home-hero__content, .home-hero__avatar{
        width: 100%;
        align-items: center;
      }
      .home-hero__content{
        order: 2;
        text-align: center;
      }
      .home-hero__avatar{
        order: 1;
        margin: 30px 0px;
      }
      .image-outer-container {
        max-width: 550px;
        max-height: 550px;
        width: 70vw;
        height: 70vw;
      }
      .range-container, .project-card, .contact-left, .contact-right{
        width: 100%;
      }
      .project-card{
        height: 300px;
      }
      .project-container>div{
        row-gap: 40px;
    }
    .contact-left{
      height: 250px;
    }
    .contact-right>*, .contact-right__btn.btn{
      max-width: 100%;
      width: 100%;
    }
    .contact-left__social{
      font-size: 25px;
      height: 45px;
      width: 45px;
    }
    
}
@media screen and (max-width: 769px){
    .home-hero__btn.btn{
        width: 100%;
    }

}
@media screen and (max-width: 576px){
  .project-card{
    height: 215px;
  }
}